<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hoang Si</title>
</head>

<body>
    <video  id="local_stream" controls></video>
    <script>
        navigator.mediaDevices.getUserMedia({ audio: true, video: true })
            .then((stream) => {
                const video = document.getElementById('local_stream');
                video.srcObject = stream;
                video.onloadedmetadata = (e) => {
                    video.play();
                };
            })
            .catch((err) => {
                /* handle the error */
            });


    </script>
</body>

</html>